.hero{
  background-color:#000;
}
/*.navbar {
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding-top:0px;
  background-color:none;
}
.navbar ul
{
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}
.navbar ul li
{
  display: inline-block;
}
.navbar ul li a
{
  padding: 20px;
  font-family: "Roboto";
  /*color: #CCC;*/
  /*text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 20px;
  text-decoration: none;
  display: block;
}
.navbar ul li a:hover
{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}
.navbar
{
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
}
.navbar ul li a:hover
{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}*/
footer{
background-color: #333;
}
.head
{
  margin-top: 30px;
}
.navbar-brand
{
padding-bottom: 0px;
}
p
{
  text-align:justify;
}
#i1
{
width: 100%;
height: 100%;
}
.carousel-inner
{
  background-color: #000;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.tay
{
  background-color: #CCC;
  padding-left: 20px;
}
/*.text-center
{
  text-align: center;
}*/
/*.navbar{
  position: absolute;
  top:-70px;
  left:0px;
}*/
/*.myimg
{
position: absolute;
top:0px;
left:0px;
}
.my
{
position:absolute;
top 250px;
left=250px;
}
p
{
font-family:sans-serif;
font-size:20;
font-style: oblique;
font-weight: bolder;
text-align: center;

text-shadow: 2px 2px 5px white;
}
#1
{
text-align: center;
}
a
{
color:white;
text-decoration:none;
}
.my
{
position: absolute;
top: 570;
left:250;
}*/
